.ui-slider-vertical .ui-state-default {
    background: #F5F5F5;
    border: 1px solid #ADADAD;
    border-radius: 50%;
}

﻿	.ui-slider-vertical:hover, .ui-state-default:hover {
    	background: #E6E6E6;  
	}

	.ui-slider-vertical .ui-state-default:active {
    	background: #C5CAE9;
	}

	.ui-slider-vertical .ui-state-default:focus {
   		outline: 0;
	}

div.ui-slider-range.ui-widget-header {
    background: rgb(230,230,230);
}

@media (max-width: 768px) {
    .ui-slider-vertical .ui-state-default {
        width: 25.424px;
        height: 25.424px;
        left: -7.4px;
    }
}

@media (min-width: 769px) {
    .ui-slider-vertical .ui-state-default {
        left: -4px;
    }
}


