.ui-slider-vertical .ui-state-default {
    background: rgb(230,230,230);
    border: 1px solid rgb(173,173,173);
    border-radius: 50%;
}

@media (max-width: 768px) {
    .ui-slider-vertical .ui-state-default {
        width: 25.424px;
        height: 25.424px;
        left: -7.4px;
    }
}

@media (min-width: 769px) {
    .ui-slider-vertical .ui-state-default {
        left: -4px;
    }
}

.ui-slider-vertical .ui-state-default:active {
    background: rgb(230,230,230);
}

.ui-slider-vertical .ui-state-default:focus {
    outline: 0;
}

div.ui-slider-range.ui-widget-header {
    background: rgb(230,230,230);
}
