td {
    min-width: 50px; /* force table to be oversize */
}

#week-scheduler {
    /*display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;*/
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.day-row {
    border-bottom: 1px solid rgb(173,173,173);
    height: 35px;
}

.day-column {
    background-color: rgb(230,230,230);
}

.day-label {
    height: 100%;
    padding-top: 7px;
    padding-left: 7px;
}



.modal.fade .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
