td {
    min-width: 50px; /* force table to be oversize */
}

#week-scheduler {
    display: flex;
    flex-direction: row;
    background-color:#E6E6E6
}

#week-scheduler .table {
	margin-bottom:0;
}

#days {
	width:10%;"
}

#temperatures {
	overflow-y:hidden;
	width:90%;
	background-color:#FAFAFA;
}

.day-row {
    border-bottom: 1px solid rgb(173,173,173);
    height: 35px;
}

.day-column {
    background-color: rgb(230,230,230);
}

.day-label {
    height: 35px;
    padding-top: 7px;
    padding-left: 7px;
    margin-bottom: 0px;
}

.day-link {
    color: black !important;
    text-decoration: none !important;
}

    .day-link:visited {
        color: black !important;
        text-decoration: none !important;
    }

    .day-link:hover {
        color: black !important;
        text-decoration: none !important;
    }

    .day-link:active {
        color: black !important;
        text-decoration: none !important;
    }
    
.hour-label {
	width: 35px;
	font-weight: bold;
}    

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
