<div class="flexbox-row" style="padding: 10px;">
    <div id="outer-circle">
        <temperature-gauge min-temp="vm.minTemp" max-temp="vm.maxTemp" room-temperature="vm.roomTemperature" boiler-temperature="vm.boilerTemperature" manual-mode="vm.manualMode">
            <temperature-control min-temp="vm.minTemp" max-temp="vm.maxTemp" room-temperature="vm.roomTemperature" boiler-temperature="vm.boilerTemperature" manual-mode="vm.manualMode"></temperature-control>
        </temperature-gauge>
    </div>
</div>