<!--<button popover-placement="right" popover-animation="true" popover-title="The title." uib-popover="I fade in and out!" type="button" class="btn btn-default">fading</button>-->
<div id="week-scheduler">
	    <table id="days" class="table">
	        <tbody>
	            <tr ng-repeat="(day, hours) in vm.values" context-menu="::vm.emptyContextMenu">
	                <td class="day-column" context-menu="::vm.dayContextMenu">
	                    <label class="day-label">
	                        <a class="day-link fade-color" href="#/home/dayscheduler/{{::day}}">{{::day}}</a>
	                    </label>
	                </td>
	            </tr>	           
	        </tbody>
	    </table>    
    <div id="temperatures" class="table-responsive">
        <table class="table">
            <tbody>
                <tr ng-repeat="(day, hours) in vm.values" context-menu="::vm.emptyContextMenu">                   
                    <td ng-repeat="(hour, temperature) in hours">
                        <button type="button" class="btn btn-default circular-button fade-background-color flexbox-row"
                                ng-click="vm.onClick(day, hour, temperature)"
                                ng-style="vm.currentHourStyle(day, hour)"
                                context-menu="::vm.hourContextMenu" model="day">
                            {{temperature}}
                        </button>
                    </td>
                </tr>
                <tr>
                    <td ng-repeat="hour in ::vm.hours">
                    	<div class="hour-label">{{::hour}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
